<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terra Tech</title>
    <!--FONT AWESOME-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="abc">
    <!-- Navigation -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/home/environment">Environment Monitoring</a></li>
            <li><a href="/home/carbonfootprint">Carbon Footprint Tracker</a></li>
            <li><a href="/home/climateprediction">Climate Prediction</a></li>
            <li><a href="/eventpage">Event</a></li>
        </ul>
    </nav>
</div>
 <div class="logo"><img src="content\logo.png" alt="logo" id="headlogo"
                            title="TerraTech"></a></div>

<div class="slogan">
"The earth, the air, the land and the water are not an inheritance from our forefathers but on loan from our children. So we have to handover to them at least as it was handed over to us."<br>
<br>
        ~Mahatma Gandhi
    
</div>

<section>
    <footer>
<div class="footer">
<div class="flex">
    <div class="info">
       <p>We're a team of web developers and environmental enthusiasts committed to using technology to support sustainability. We  create digital solutions that promote positive change and align with our environmental goals. By combining our technical expertise with our passion for the environment, we aim to create a better future for  <br>
         ~ Team TerraTech</p> 
    </div>
<div class="links">
    <h3>Useful Links</h3>
    <a href="https://www.worldwildlife.org/" target="_blank" >World Wildlife Fund</a></li> 
   <a href="https://www.rewild.org/" target="_blank" >Leonardo Dicaprio Foundataion</i></a></li> 
     <a href="https://ekbharat.gov.in/" target="_blank" >Ek Bharat Shreshtha Bharat</a></li> 
     <a href="https://www.greenpeace.org/india/en/" target="_blank" >GreenPeace</a></li> 
    
</div>


</div>
<div class="row">
TerraTech Copyright © 2023 TerraTech - All rights reserved || Designed By: TerraTech 
</div>
</div>
</footer>
</section>
  
</body>
</html>