@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url("./content/Background_image.jpeg");
    background-position: center;
    /* background: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.first {
    height: 100vh;
    width: 100vw;
    display: inline-block;
}

.form-box {
    width: 380px;
    height: 550px;
    position: relative;
    margin: 6% auto;
    background: rgba(0,0,0,0.8);
    border-radius: 50px;
    padding: 5px;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    margin-left: 4px;
    color: white;
    outline: none;
    position: relative;
    font-family: style="font-family: 'Poppins', sans-serif;";
}

#btn {
    top: 0;
    left: 0%;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #add455, #add455);
    border-radius: 30px;
    transition: 0.5s;
}

.socials{
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}

#img1 {
    flex-grow: 0.3;
    /* background-image: url("../Public/content/Google.png"); */
}

/* #img2 {
    flex-grow: 0.3;
} */

#img3 {
    flex-grow: 0.3;
}
#img3{
    flex-grow: 0.3;
}
.socials img{
    width: 1px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 200%;
}

#l1{
    color: grey;
    margin-top: 50%;
    position: relative;
    top: 5px;
}
#d1{
    color: grey;
    width:  70%;
    /* margin-top: 50%; */
    margin: 0 0 0px 10px;
    position: relative;
    margin-top: 10px;
    top: 2px;
}
.input-group{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
    color: white;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    color: white;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    font-weight: bold;
    margin-top: -5px;
    background: linear-gradient(to right, #add455, #add455);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #777;
    font-size: 12px;
    /* margin-top:30px; */
    margin: 30px 0;
    /* bottom: 80px; */
    position: absolute;
}

#login {
    left: 50px;
    margin-top: 50px;
    color: white;
}

#register {
    left: 450px;
    margin-top: -16px;
    color: white;
}